<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">

        <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


    <!--datetimepicket-->
    <link rel="stylesheet" th:href="@{css/jquery.datetimepicker.min.css}" />
    <script th:src="@{js/jquery.calendar.js}"></script>
    <link rel="stylesheet" th:href="@{css/jquery.calendar.css}">

    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />

    <title>Car View</title>
</head>
<body class="bg-gray">
    <div th:insert="~{fragments/header :: header}"></div>
     <br><br><br>
    <div class="container bg-white">
        <div class="row">
            <div class="col-md-6">
                <div class="col-xs-12 col-md-12">
                      <img th:src="@{./img/cars/{image}(image=${car.img})}" th:title="${car.brand}" th:alt="${car.brand}" class="img-fluid img-thumbnail">
                </div>

                <div class="table-responsive col-md-12"> 
                    <b class="text-left">"Standart"</b>
                    <table class="table table-bordered table-condensed">
                    <thead>
                        <tr class="table-info">
                        <th class="text-right"><small>1-3 <br>days</small></th>
                        <th class="text-right"><small>4-7 <br>days</small></th>
                        <th class="text-right"><small>8-14 <br>days</small></th>
                        <th class="text-right"><small>15-364 <br>days</small></th>
                        <th class="text-right"><small>&gt; 365 <br>days</small></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-right">
                        <td><small><span class="price" th:text="${car.price1}"></span>&nbsp;€</small></td>
                        <td><small><span class="price" th:text="${car.price2}"></span>&nbsp;€</small></td>
                        <td><small><span class="price" th:text="${car.price3}"></span>&nbsp;€</small></td>
                        <td><small><span class="price" th:text="${car.price4}"></span>&nbsp;€</small></td>
                        <td><small><span class="price" th:text="${car.price5}"></span>&nbsp;€</small></td>
                        </tr>
                    </tbody>
                   </table>
                </div>

                <div class="col-xs-12 col-md-12" id="calendar">
                </div>
            </div>

            <div class="col-xs-12 col-md-6">
                <div class="col-xs-12 col-md-12">
                    <h4 class="media-heading">
                       [[${car.brand}]] [[${car.model}]]
                        <small class="float-right">
                            <span class="badge badge-danger" title="sports utility">Segment &nbsp; "[[${car.segment}]]"</span>
                        </small>
                    </h4>
    
                    <table class="table table-striped table-bordered table-condensed" style="width: 100%;">
                        <tbody>
                            <tr class="car-icons text-center">
                                <td style="width: 20%;">
                                    <img th:src="@{img/icons/passenger.png}" alt="Passengers" title="Passengers">
                                    <br>[[${car.nrOfSeats}]]
                                </td>
                                <td style="width: 20%;">
                                    <img th:src="@{img/icons/luggage.png}" alt="Luggage" title="Luggage">
                                    <br>[[${car.luggage}]]
                                </td>
                                <td style="width: 20%;">
                                    <img th:src="@{img/icons/station.png}" alt="Farst charge time" title="Fast charge time">
                                    <br>
                                    <small>[[${car.fastCharge}]] h</small>
                                </td>
                                <td style="width: 20%;">
                                    <img th:src="@{img/icons/road.png}" alt="Range" title="Range">
                                    <br>
                                    <small>[[${car.minDistance}]] - [[${car.maxDistance}]] km</small>
                                </td>
                                <td style="width: 20%;">
                                    <img th:src="@{img/icons/motor.png}" alt="Power" title="Power">
                                    <br>
                                    <small>[[${car.horsepower}]] hp</small>
                                </td>
                            </tr>
                        </tbody>
                    </table>
    
                    <p class="hidden-xs">[[${car.features}]]</p>
    
                    <h4>Description</h4>
    
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>Model</td>
                                <td>[[${car.brand}]] [[${car.model}]]</td>
                            </tr>
                            <tr>
                                <td>Production year</td>
                                <td>[[${car.productionYear}]]</td>
                            </tr>
                            <tr>
                                <td>Car body</td>
                                <td>[[${car.carBody}]]</td>
                            </tr>
                            <tr>
                                <td>Color</td>
                                <td>[[${car.color}]]</td>
                            </tr>
                            <tr>
                                <td>Number of doors/seats</td>
                                <td>[[${car.nrOfDoors}]]/[[${car.nrOfSeats}]]</td>
                            </tr>
                            <tr>
                                <td>Total weight</td>
                                <td>[[${car.weight}]] kg</td>
                            </tr>
                            <tr>
                                <td>Traction</td>
                                <td>[[${car.traction}]]</td>
                            </tr>
                            <tr class="alert alert-warning">
                                <td>Minimal age</td>
                                <td>[[${car.minimalAge}]]</td>
                            </tr>
                            <tr class="alert alert-warning" style="background-color: #FFF3CD;">
                                <td>Driving experience</td>
                                <td>[[${car.drivingExp}]]</td>
                            </tr>
                            <tr>
                                <td>CASCO</td>
                                <td>[[${car.casco}]] € / day</td>
                            </tr>
                            <tr>
                                <td>Garant</td>
                                <td>[[${car.garant}]] €</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="container">
                    <form th:action="@{/order/start}" th:object="${customer}" method="POST">
                        <div>
                            <h4>Reservation</h4>
                            <hr>
                           <input type="hidden" th:value="${car.id}" name="carId">
                        </div>
                        <div class="container-fluid">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                                </div>
                                <input type="text" class="form-control" th:field="*{firstName}" placeholder="First Name">
                                <input type="text" class="form-control" th:field="*{lastName}" placeholder="Last Name">
                              </div>
    
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">@</span>
                                </div>
                                <input type="text" class="form-control" th:field="*{email}" placeholder="Email" >
                            </div>
                            <div th:if="${#fields.hasErrors('email')}"
							style="margin-bottom: 25px" class="text-danger">
                                <ul>
                                   <li th:each="err : ${#fields.errors('email')}" th:text="${err}" />
                                </ul>
						    </div>
    
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                                </div>
                                <input type="text" class="form-control" th:field="*{address}" placeholder="Address" >
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                </div>
                                <input type="text" class="form-control" th:field="*{phoneNr}" placeholder="Phone" >
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-calendar"></i></i></span>
                                </div>
                                <input type="text" id="datepicker1" class="form-control" th:value="${#temporals.format(dateBirth, 'yyyy-MM-dd')}" 
                                th:field="*{dateBirth}" placeholder="Date of birth" autocomplete="off">
                            </div>
                            <button class="btn btn-primary btn-lg" type="submit">Book it</button>
                        </div>   
                      </form>
                </div>

            </div>
        </div>
    </div>

    <br><br><br>
    <div th:insert="~{fragments/footer :: footer}"></div>

    <script type="text/javascript" th:src="@{js/jquery.datetimepicker.full.min.js}"></script>
    <script>
        $('#datepicker1').datetimepicker({
            timepicker: false,
            datepicker: true,
            format: 'Y-m-d',
            yearStart: 1965,
            yearEnd: 2000,
            value:'2000-01-01'
        })

        $(function () {
        $('#calendar').calendar({
        months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        days: ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'],
        color:'#AB4037'
        });
        });
      </script>
</body>
</html>