<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <base href="/">

  <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />

  <title>Catalog</title>
</head>

<body>
<div th:insert="~{fragments/header :: header}"></div>
  <h1>All Cars</h1>

  <br><br><br>

  <div class="container-fluid">
    <div class="col-sm-6">
      <div class="col-md-12 pad-10 btm-mrg-20 property-">
        <div class="row">
          <div class="col-xs-12 col-md-5">
            <a href="#" class="pull-left" target="_parent">
              <img src="img/team1.png" alt="Tesla" title="Tesla" style="width:100%; min-width:200px" class="img-thumbnail">
            </a>
          </div>
          <div class="col-xs-12 col-md-7">
            <div class="visible-sm visible-xs"><br></div>
            <h4 class="media-heading">
              <a href="#" target="_parent">Tesla</a>
              <small class="pull-right">
                <span class="label label-danger" title="sports utility">Class "J"</span>
              </small>
            </h4>
            <table class="table table-striped table-bordered table-condensed" style="width: 100%;">
              <tbody>
                <tr class="car_icons text-center">
                  <td style="width: 20%;">
                    <img src="img/icons/passengers-icon.png" alt="Passengers" title="Passengers">
                    <br>5
                  </td>
                  <td style="width: 20%;">
                    <img src="img/icons/baggage-icon.png" alt="Baggage" title="Baggage">
                    <br>3
                  </td>
                  <td style="width: 20%;">
                    <img src="img/icons/transmission-icon.png" alt="Transmission" title="Transmission">
                    <br>
                    <small>Automat</small>
                  </td>
                  <td style="width: 20%;">
                    <img src="img/icons/fuel-icon.png" alt="Fuel" title="Fuel">
                    <br>
                    <small>Petrol</small>
                  </td>
                  <td style="width: 20%;">
                    <img src="img/icons/engine-icon.png" alt="Engine" title="Engine">
                    <br>2.4
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br><br>

  <div th:insert="~{fragments/footer :: footer}"></div>
</body>

</html>
