<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />

    <title>Order Confirmation</title>
</head>

<body style="margin: 0 !important; padding: 0 !important; background-color: #eeeeee;" bgcolor="#eeeeee">

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center" style="background-color: #eeeeee;" bgcolor="#eeeeee">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                    <tr>
                        <td align="center" style="padding: 35px 35px 20px 35px; background-color: #ffffff;" bgcolor="#ffffff">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                                style="max-width:600px;">
                                <tr>
                                    <td align="center"
                                        style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;">
                                        <img src="https://img.icons8.com/carbon-copy/100/000000/checked-checkbox.png"
                                            width="125" height="120" style="display: block; border: 0px;" /><br>
                                        <h2 style="font-size: 30px; font-weight: 800; line-height: 36px; color: #333333; margin: 0;">
                                            Thank You! </h2>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <p align="center">
                                            <br> Your order has been successfully submitted. </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="padding-top: 20px;">
                                        <table class="my-table" cellspacing="0" cellpadding="0" border="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th width="75%">Order Confirmation #</th>
                                                    <th width="25%"></th>
                                                </tr>
                                            </thead>
                                            <tr>
                                                <td width="75%">Car Model </td>
                                                <td width="25%">[[${car.brand}]] [[${car.model}]] </td>
                                            </tr>
                                            <tr>
                                                <td width="75%">Order Date</td>
                                                <td width="25%" th:text="${#temporals.format(order.orderDate, 'dd-MM-yyyy')}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="75%">From </td>
                                                <td width="25%" th:text="${#temporals.format(order.startDate, 'dd-MM-yyyy')}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="75%">To </td>
                                                <td width="25%" th:text="${#temporals.format(order.endDate, 'dd-MM-yyyy')}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="75%">Nr. of Days </td>
                                                <td width="25%">[[${order.hireDays}]] </td>
                                            </tr>
                                            <tr>
                                                <td width="75%">
                                                    Casco </td>
                                                <td width="25%">
                                                <span th:if="${order.casco == true}">Yes</span>
                                                <span th:unless="${order.casco == true}">No</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="padding-top: 20px;">
                                        <table class="total-table" cellspacing="0" cellpadding="0" border="0" width="100%">
                                            <tr>
                                                <hr>
                                                <td width="75%">TOTAL </td>
                                                <td width="25%">€ [[${order.totalCost}]] </td>
                                            </tr>                              
                                        </table>
                                        <div class="order-button">
                                            <a th:href="@{/}" class="btn btn-primary btn-block mrgn-top">Homepage</a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
