<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <title>Order</title>
</head>
<body>

    
    

    <form th:action="@{/reservation/complete}" th:object="${order}" method="post">
     <div class="form-group">
        <!-- <input type="text" th:value="${car.id}" th:field="*{car}"> -->
        <input type="text" th:field="*{id}">
        <label for="">oderDate:</label>
        <input type="text" th:field="*{orderDate}"/>
        <label for="">startDate:</label>
        <input type="text" th:field="*{startDate}"/>
        <label for="">endDate:</label>
        <input type="text" th:field="*{endDate}"/>
        <label for="">hireDays :</label>
        <input type="text" th:field="*{hireDays}"/>
        <label for="">totalCost:</label>
        <input type="text" th:field="*{totalCost}"/>
        <label for="">status:</label>
        <input type="text" th:field="*{status}">
        <label for="">pstatus:</label>
        <input type="text" th:field="*{paymentStatus}"/>
        <label for="">pmethod:</label>
        <input type="text" th:field="*{paymentMethod}"/>
        <label for="">details:</label>
        <input type="text" th:field="*{details}"/>
    </div>

    

</body>
</html>