<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a th:href="@{#}" class="navbar-brand"><img th:src="@{./img/logo5.svg}"></a>
<button type="button" name="button" class="navbar-toggler" data-toggle="collapse"
data-target="#navbarResponsive">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
    <li class="nav-item"><a class="nav-link" th:href="@{/catalog/list}">Cars</a></li>
    <li class="nav-item"><a class="nav-link" th:href="@{#}">Terms and Conditions</a></li>
    <li class="nav-item"><a class="nav-link" th:href="@{/contact/form}">Contact</a></li>
  </ul>
</div>
</div>
</nav>
</th:block>
