@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.main-section{
  padding: 20px;
}

.team{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.navbar{
  padding: .5rem;
}

.navbar-nav li{
  padding-right: 20px;
}

.nav-link{
  font-size: 1.1em !important;
}

.carousel-inner img{
  width: 100%;
  height: 100%;
}

.carouse-caption{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1{
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3{
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

.btn-primary{
  background-color: #6648b1;
  border: 1px solid #6648b1;
}

.btn-primary:hover{
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(105, 105, 105, 0.15);
  border-radius: 3px 0 0 3px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.btn { 
  margin-bottom:10px; 
}

.jumbotron{
  padding: 1rem;
  border-radius: 0;
}

.bc-extend{
  background-color: #FAB700;
  color: #222222;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 1.5rem;
}

.padding{
  padding-bottom: 2rem;
}

.welcome{
  width: 75%;
  margin: 0 auto;
  padding: 2rem;
}

.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.social a{
  font-size: 2.5em;
  padding: 1.5rem;
}

.fa-facebook{
  color: #f39e00;
}

.fa-twitter{
  color: #f39e00;
}

.fa-google-plus-g{
  color: #f39e00;
}

.fa-instagram{
  color: #f39e00;
}

.fa-youtube{
  color: #f39e00;
}

.fa-facebook:hover, .fa-twitter:hover,
.fa-google-plus-g:hover, .fa-instagram:hover,
.fa-youtube:hover{
  color: #d5d5d5;
}

footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a{
  color: #d5d5d5;
}
hr.light-100{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
  width: 100%;
}

/*Cars/Catalog*/
.car-icons{
  width: 20px;
  vertical-align: middle;
}

.table-mrgn-top{
  margin-top: -3rem !important;
}

.price{
  font-weight: bold;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .social a{
    font-size: 4rem;
    padding: 2rem;
  }
  }
@media (max-width: 768px) {
  .carouse-caption{
    top: 45%;
  }
  .carousel-caption h1{
    font-size: 350%;
  }
  .carousel-caption h3{
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn{
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4{
    font-size: 200%;
  }
  .social a{
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carouse-caption{
    top: 40%;
  }
  .carousel-caption h1{
    font-size: 250%;
  }
  .carousel-caption h3{
    font-size: 110%;
  }
  .carousel-caption .btn{
    font-size: 90%;
    padding: 4px 14px;
  }
  .carousel-indicators{
    display: none;
  }
  .display-4{
    font-size: 160%;
  }
  .social a{
    font-size: 2em;
    padding: .7rem;
  }
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}


.facts-area {
  background-color: #fab700;
}

.single-fact h1 {
  font-weight: 700;
  font-size: 48px;
}

.single-fact p {
  color: #222;
}

@media (max-width: 800px) {
  .single-fact {
    margin-bottom: 30px;
  }
}

.feature-area {
  background-color: #fff;
}

.feature-area .header-text {
  text-align: center;
}

.feature-area .header-text h1 {
  margin-bottom: 20px;
}

.single-feature {
  border-radius: 10px;
  background-color: #ecebeb;
  padding: 30px;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-feature:hover {
  box-shadow: -14.142px 14.142px 20px 0px rgba(23, 172, 0, 0.5);
  cursor: pointer;
}

.single-feature:hover p {
  color: rgb(34, 34, 34);
}

.single-feature:hover h4 {
  color: #09b100;
}

.single-feature h4 {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-top: 20px;
  margin-bottom: 20px;
}

.single-feature h4 .lnr {
  margin-right: 15px;
}

.feature a:link{
  text-decoration: none;
  color: #222;
}

.feature a:active, a:visited{
  color: #222;
}

@media (max-width: 991.98px) {
  .single-feature {
    margin-bottom: 60px;
  }
}

.dash-box{
  text-align: center;
  background-color: #09b1003e;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 0.5rem;
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
