<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>RentalCar Company Home Page</title>

	<!--Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

</head>

<body>
<div class="container">
	<h2>Company Home Page</h2>
	<hr>

	<p>
		Welcome to the company home page!
	</p>

	<hr>

	<!-- display user name and role -->

	<div>
		User: <span sec:authentication="name"></span>
		<br><br>
		Role(s): <span sec:authentication="principal.authorities"></span>
		<br><br>

		<!-- Check for login error -->
		<div th:if="${session.user}">
			<p th:text="'First name: ' + ${session.user.firstName} + ', Last name: ' + ${session.user.lastName} + ', Email: ' + ${session.user.email}"></p>
		</div>
	</div>

	<!--Example of authorized access
	 <div sec:authorize="hasRole('ROLE_MANAGER')">
		<p>
			<a th:href="@{/leaders}">Leadership Meeting</a>
			(Only for Manager peeps)
		</p>
	</div> -->

	<hr>

  <p>
		<a th:href="@{/cars/list}">Car List</a>
	</p>


	<!-- Add a logout button -->
	<form action="#" th:action="@{/logout}" method="POST">
		<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
	</form>

</div>
</body>

</html>
