<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>RentalCar Company Home Page</title>

	<!--Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

	<link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />

</head>

<body>
<div class="container">
	<!-- display user name and role -->

	<div>
		User: <span sec:authentication="name"></span>
		<br><br>
		Role(s): <span sec:authentication="principal.authorities"></span>
		<br><br>

		<!-- Check for login error -->
		<div th:if="${session.user}">
			<p th:text="'First name: ' + ${session.user.firstName} + ', Last name: ' + ${session.user.lastName} + ', Email: ' + ${session.user.email}"></p>
		</div>
	</div>

	<!--Example of authorized access
	 <div sec:authorize="hasRole('ROLE_MANAGER')">
		<p>
			<a th:href="@{/leaders}">Leadership Meeting</a>
			(Only for Manager peeps)
		</p>
	</div> -->

	<hr>

	<section class="feature-area section-gap" id="service">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-8 pb-40 header-text">
					<h1>Administration navigation</h1>
					<p>
						Our goal is to provide the best services on the market.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 feature">
					<a th:href="@{/cars/list}">
						<div class="single-feature">
							<h4><i class="fas fa-car"></i> &nbsp;Car List</h4>
							<p>
								Every car in this list should be up to data. 
							</p>
						</div>
					</a>
				</div>
				<div class="col-lg- col-md-6">
					<div class="single-feature">
						<h4><i class="fas fa-chart-line"></i> &nbsp;Order List</h4>
						<p>
							The orders should be processed as swift as possible.
						</p>								
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="single-feature">
						<h4><i class="fas fa-comments"></i> &nbsp;Messages from clients</h4>
						<p>
							Every client is our friend and our critic, respect it.
						</p>								
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="single-feature">
						<h4><i class="far fa-user"></i> &nbsp;Employees</h4>
						<p>
							The list of all the employees in the company.
						</p>				
					</div>
				</div>	
			</div>
		</div>	
	</section>


	<!-- Add a logout button -->
	<form action="#" th:action="@{/logout}" method="POST">
		<input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />
	</form>

</div>
</body>

</html>
