<html xmlns:th="https://www.thymeleaf.org">
<body>


	<div>
		<form method="POST" enctype="multipart/form-data" th:action="@{/upload/image}">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>

		<div class="form-group row">
			<label for="inputCasco" class="col-sm-2 col-form-label"><b>Image</b></label>
			<div class="col-sm-10">
			  <input type="text" th:value="${carName}" class="form-control mb-6 col-6"/>
			</div>
		  </div>
	</div>

	

</body>
</html>
